dacite==1.9.2
joblib==1.5.3
lightgbm==4.6.0
markdown-it-py==4.0.0
mdurl==0.1.2
numpy==2.4.4
nvidia-nccl-cu12==2.29.7
packaging==26.0
Pygments==2.20.0
rich==15.0.0
scikit-learn==1.8.0
scipy==1.17.1
setuptools==82.0.1
threadpoolctl==3.6.0
wheel==0.46.3
xgboost==3.2.0
